@model dynamic


@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<span class="text-success h5">@ViewBag.mensaje</span>

<h2>Puestos de trabajo</h2>
<br />

@foreach (var cat in Model.Categories)
{
    int cont = Int32.Parse(Model.Config.valor);

    <h3><a href="/Search?search=@cat.categoria.ToLower()" style="margin-top:40px;">@cat.categoria</a></h3>
    <table class="table table-hover" style="margin-top: 20px;">

        <thead>
            <tr>
                <th>
                    Ubicacion
                </th>
                <th>
                    Posicion
                </th>
                <th>
                    Empresa
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var listing in Model.Puesto)
            { 
                if (listing.categoria.ToLower() == cat.categoria.ToLower())
                {
                    cont--;
                    <tr>
                        <td>
                            @listing.ubicacion
                        </td>
                        <td>
                            <a href="/Job?id=@listing.id">@listing.posicion</a>
                        </td>
                        <td>
                            @listing.company
                        </td>
                    </tr>
                }
                if(cont <= 0)
                {
                    break;
                }
            }
        </tbody>
    </table>
    <div class="float-right"><a href="/Search?search=@cat.categoria">Mas Trabajos...</a></div>
}


