@model IEnumerable<Jobweb.Models.Config>

@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Ajustes</h2>

<table class="table table-hover" style="margin-top: 20px;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.valor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.valor)
                </td>
                <td>
                    @Html.ActionLink("Editar", "EditSettings", new { id = item.id }, new { @class = "btn btn-warning" })
                </td>
            </tr>
        }
    </tbody>
</table>
